.contents__table__post
  = form_for [@group, @message] do |f|
    .contents__table__post__notes-att
      = f.text_field :text, class: 'contents__table__post__notes-att__notes', placeholder: 'type a message'
      = f.label :image, class: 'contents__table__post__notes-att__attachment' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'contents__table__post__button'
