
%header.header
  チャットグループ

.contents
  .contents__user
    = render partial: "user"
  .contents__group
    = render partial: "group"
  .contents__board
    = render partial: "board"
  .contents__table
    .contents__table__free-space
    = render partial: "article"
    = render partial: "post"
