.contents
  .contents__user
    = render partial: "user"
  .contents__group
    = render partial: "group"
  .contents__board
    = render partial: "board"
  .contents__table
    .contents__table__free-space
    .contents__table__area
      = render @messages
    = render partial: "post"
